$main-color: #060506;
$secondary-color: #1a0a5c;
$pure-white: #fff;
$light-white: #eee;
$dark: #0e0e0e;
$green-color: #2bbd0e;
$green-color-hover: #197008;

$dark-blue-gradient: linear-gradient(45deg, rgba(7, 4, 33, 0.75), rgba(7, 5, 63, 0.75));
// $blue-gradient: linear-gradient(45deg, rgba(11, 11, 177, 0.5), rgba(44, 28, 147, 0.5));
$blue-gradient-solid: linear-gradient(45deg, rgb(1, 5, 13), rgb(21, 4, 81));
$light-blue-gradient-solid: radial-gradient(circle at top right, rgb(0, 78, 255) 0%, rgb(0, 212, 255) 100%);
